@{
    Layout = null;
}
@model ClientViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="~/css/signstyle.css">
    <link rel="shortcut icon" href="~/images/siteicon.svg" type="image/svg">
</head>
<body>
    <form class="signin_box" asp-action="Edit" asp-route-ClientId="@Model.ClientId" asp-route-id="@Model.client.id" method="post">
        <h1>Edit</h1>
        <input asp-for="@Model.client.name" class="baumans" type="text" placeholder="Your name" autocomplete="off" required />
        <input asp-for="@Model.client.email" class="baumans" type="email" placeholder="email@example.com" autocomplete="off" disabled>
        <input asp-for="@Model.client.password" class="baumans" type="password" placeholder="Password" autocomplete="off" disabled>
        <select asp-for="@Model.client.gender" class="baumans gender">
            @foreach (var gender in Model.genders.genders)
            {
                <option>@gender.name</option>
            }
        </select>
        <select asp-for="@Model.client.role" class="baumans gender">
            @foreach (var role in Model.roles.roles)
            {
                <option>@role.name</option>
            }
        </select>
        <input class="baumans button" type="submit" value="Edit">
    </form>
</body>
</html>